
<h1 style="text-align: center;">Login</h1>
<form class="login-form" style="width: 20rem;">
  <div class="mb-3">
    <label for="usernameInput" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-login">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="/signup">Or signup here!</a>

<script src="./js/login.js"></script>
